:root {
  --bg-color: #161e24;
  --text-color: #fffddd;
  --blue-color: #3ca0e7;
  --bg-icon: url("../img/icon3.png");
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 1000;
  padding: 1rem 0;
}

nav.primary-navigation {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 20px;
}

nav.primary-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

nav.primary-navigation ul li {
  list-style: none;
  margin: 0 1rem;
  border-left: 2px solid var(--blue-color);
  padding: 0 1rem;
  position: relative;
  font-family: "Monaco", monospace;
}

nav.primary-navigation li a {
  color: var(--text-color);
  text-decoration: none;
}

nav.primary-navigation li a:hover {
  color: var(--blue-color);
}

nav

