nav {
    /* Dark Theme */
  :root {
    --bg-color: #161e24;
    --text-color: #fffddd;
    --blue-color: #3ca0e7;
    --bg-icon: url("../img/icon3.png");
  }
  
  /* Light Theme */
  /* body.dark {
    --bg-color: #161e24;
    --text-color: #fffddd;
    --blue-color: #3ca0e7;
    --bg-icon: url("../img/icon3.png");
  } */

    &.primary-navigation {
      margin: 0 auto;
      display: block;

      padding: 0px 0 0 0;  
      text-align: left;
      font-size: 20px;
  
      ul {
        position: fixed;
        padding-left: 50px;

      }

      ul li {
        list-style: none;
        margin: 0px;
        border-left: 2px solid #3ca0e7;
        display: block;
        padding: 0 20px;
        position: relative;
        text-decoration: none;
        text-align: left;
        font-family: "Monaco", monospace;

      }
  
      li a {
        color: #161e24;
        color: #fffddd;
      }
  
      li a:hover {
        color: #3ca0e7;
      }
  
      li:hover {
        cursor: pointer;
      }
  
      ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        left: 0;
        display: none;
        background: #161e24;
        color: #fffddd;
        border-left: 2px solid #3ca0e7;
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        left: 120px;
        top: -35px;
        min-width: 250px;
        text-align: left;
      }
  
      ul li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        border-style: none;
      }
  
      ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid #3ca0e7;
        transition: all 0.3s ease;
      }
    }
  }
  
  a {
      text-decoration: none;
      &:hover {
          color: #3CA0E7;
      }
  }
  
   ul li ul li a { transition: all 0.5s ease; }

  body {
    background-color: #161e24;
    color: #fffddd;
  }

  .bg-img {
    position: absolute;
    left: 35%;
    width: 800px;
    height: 800px;
    background-image: url("../img/icon3.png"); 
    background-size: 100%;
    background-repeat: no-repeat;
    animation: backgroundImageIn, backgroundImageRotate;
    animation-duration: 1s, 600s;
    animation-delay: 0s, 1s;
    animation-timing-function: ease-out;
  }

  @media screen and (max-width: 890px){
    main {
      position: fixed;
      left: 60px;
      top: 200px;
      padding-right: 25%;
      font-family: "Monaco", monospace;
      animation: transitionIn 1s;
      animation-timing-function: ease-out;

    }
  }

  @media screen and (max-width: 1375px) and (min-width: 890px) {
    main {
      position: relative;
      left: 40%;
      padding-right: 50%;
      font-family: "Monaco", monospace;
      animation: transitionIn 1s;
      animation-timing-function: ease-out;

    }
  }

  @media screen and (min-width: 1375px) {
    main {
        position: relative;
        left: 25%;
        padding-right: 40%;
        font-family: "Monaco", monospace;
        animation: transitionIn 1s;
        animation-timing-function: ease-out;
    }
  }


  h1 p {
    position: fixed;
    top: 30px;
    padding-left: 50px;
  }

  footer{
    position: fixed;
    bottom: 3%;
    padding-left: 45px;
    font-family: "Monaco", monospace;
    font-size: 20px;
  }

  .linkedin{
    height: 35px;
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 0;
    padding: 0;
  }

  .footertext{
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #fffddd;
  }

  .light-dark{
    display: inline-block;
    position: fixed;
    bottom: 3%;
    padding-left: 45px;
    right: 2%;
    margin: 0;
    padding: 0;
    color: #fffddd;
    font-family: "Monaco", monospace;
    font-size: 20px;
  }
  .light-dark_text{
    display: inline-block;
    padding-left: 45px;
    right: 2%;
    margin: 0;
    padding: 0;
    color: #fffddd;
    font-family: "Monaco", monospace;
    font-size: 20px;
  }

  @keyframes transitionIn {
    from {
        opacity: 0;
        transform: translate(0px, 10px);
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
  }

  @keyframes backgroundImageIn {
    from {
        opacity: 0;
        /* transform: translate(-45px, 10px); */
        transform: rotate(-45deg);
    }

    to {
        opacity: 1;
        /* transform: translate(0px, 0px); */
        transform: rotate(0deg);
    }
  }

  @keyframes backgroundImageRotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0deg);
    }
  }
